/* Custom Obsidian callouts                         */
/*                                                  */
/* Creates custom callout boxes and                 */
/* overwrites some default callouts                 */
/* to change icons and/or colors                    */
/* Icons from lucide.dev                            */

.callout {
    --color-blue: 105, 148, 189;
    --color-green: 146, 188, 153;
    --color-purple: 153, 146, 188;
    --color-grape: 168, 153, 178;
    --color-tuscany: 200, 165, 156;
    --color-tan: 213, 182, 155;
    --color-greygreen: 204, 204, 180;
    --color-pastelblue: 177, 201, 201;
    border: 1px;
    border-radius: 10px;
}

.callout[data-callout="codeblock"] {
    --callout-color: var(--color-greygreen);
    --callout-icon: lucide-code;
}

.callout[data-callout="event"] {
    --callout-color: var(--color-blue);
    --callout-icon: lucide-calendar;
}

.callout[data-callout="garden"] {
    --callout-color: var(--color-green);
    --callout-icon: lucide-flower-2;
}

.callout[data-callout="metadata"] {
    --callout-color: var(--color-grape);
    --callout-icon: lucide-cog;
}

.callout[data-callout="quote"] {
    --callout-color: var(--color-blue);
    --callout-icon: lucide-quote;
}

.callout[data-callout="resource"] {
    --callout-color: var(--color-blue);
    --callout-icon: lucide-book;
}

.callout[data-callout="text"] {
    --callout-color: var(--color-blue);
    --callout-icon: lucide-messages-square;
}
.callout[data-callout="tip"] {
    --callout-color: var(--color-blue);
    --callout-icon: lucide-lightbulb;
}

.callout[data-callout="warning"] {
    --callout-color: var(--color-purple);
    --callout-icon: lucide-alert-triangle;
}

